includes:
    - %currentWorkingDirectory%/.build/vendor/phpstan/phpstan-strict-rules/rules.neon
    - %currentWorkingDirectory%/.build/vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - %currentWorkingDirectory%/.build/vendor/phpstan/phpstan-phpunit/extension.neon
    - %currentWorkingDirectory%/.build/vendor/phpstan/phpstan-phpunit/rules.neon
    - %currentWorkingDirectory%/.build/phpstan-baseline.neon

parameters:
    # You can currently choose from 11 levels (0 is the loosest and 10 is the strictest).
    level: max

    tmpDir: %currentWorkingDirectory%/.build/cache/.phpstan.cache

    paths:
        - %currentWorkingDirectory%/src/
        - %currentWorkingDirectory%/packages/imagemeta-maker-notes/src/
        - %currentWorkingDirectory%/packages/imagemeta-quicktime/src/
        - %currentWorkingDirectory%/packages/imagemeta-xmp/src/
        - %currentWorkingDirectory%/packages/imagemeta-mpf/src/
        - %currentWorkingDirectory%/packages/imagemeta-curate-exif/src/
        - %currentWorkingDirectory%/tests/
        - %currentWorkingDirectory%/packages/imagemeta-maker-notes/tests/
        - %currentWorkingDirectory%/packages/imagemeta-quicktime/tests/
        - %currentWorkingDirectory%/packages/imagemeta-xmp/tests/
        - %currentWorkingDirectory%/packages/imagemeta-curate-exif/tests/

    excludePaths:
        - %currentWorkingDirectory%/.build/
