<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         bootstrap="./vendor/autoload.php"
         cacheDirectory="./cache/.phpunit.cache"
         colors="true"
         displayDetailsOnPhpunitDeprecations="true"
         executionOrder="depends,defects"
         failOnPhpunitDeprecation="true"
         failOnRisky="true"
         failOnWarning="true"
>
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>../tests</directory>
            <directory>../packages/imagemeta-maker-notes/tests</directory>
            <directory>../packages/imagemeta-quicktime/tests</directory>
            <directory>../packages/imagemeta-xmp/tests</directory>
            <directory>../packages/imagemeta-curate-exif/tests</directory>
        </testsuite>
    </testsuites>

    <source ignoreIndirectDeprecations="true" restrictNotices="true" restrictWarnings="true">
        <include>
            <directory>../src</directory>
            <directory>../packages/imagemeta-maker-notes/src</directory>
            <directory>../packages/imagemeta-quicktime/src</directory>
            <directory>../packages/imagemeta-xmp/src</directory>
            <directory>../packages/imagemeta-mpf/src</directory>
            <directory>../packages/imagemeta-curate-exif/src</directory>
        </include>
    </source>
</phpunit>
